[Unit]
Description=GoFlow
After=network.target

[Service]
ExecStart=/usr/bin/goflow
Type=idle
KillMode=process
 
SyslogIdentifier=smart-test
SyslogFacility=daemon
 
Restart=on-failure

[Install]
WantedBy=multi-user.target
